<a href="https://colab.research.google.com/github/gumdropsteve/intro_to_machine_learning/blob/main/day_02/02_assignment_cost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
# STARTER CODE - RUN THIS CELL - DO NOT CHANGE
!pip install category_encoders
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import category_encoders as ce
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error, mean_absolute_error, accuracy_score, accuracy_score, recall_score, precision_score
df_r = sns.load_dataset("tips").dropna()
df_c = sns.load_dataset("titanic").dropna()
model_r = LinearRegression()
model_c = LogisticRegression()
x_train_r, x_test_r, y_train_r, y_test_r = train_test_split(df_r.drop("total_bill", axis=1), df_r["total_bill"])
x_train_c, x_test_c, y_train_c, y_test_c = train_test_split(df_c.drop(["survived", "alive", "adult_male"], axis=1), df_c["survived"])
pipe_r = make_pipeline(ce.OrdinalEncoder(), StandardScaler(), LinearRegression()).fit(x_train_r, y_train_r)
pipe_c = make_pipeline(ce.OrdinalEncoder(), StandardScaler(), LogisticRegression()).fit(x_train_c, y_train_c)
y_pred_r = pipe_r.predict(x_test_r)
y_pred_c = pipe_c.predict(x_test_c)

# Cost Functions

- Without importing any libraries please write a cost function for each of the following listed below.
- Do not refrence ANY online resources other than whats provided

You can only use these resources, `pandas` and `numpy` to make your functions:
- [Mean Squared Error](https://en.wikipedia.org/wiki/Mean_squared_error)
- [Mean Absolute Error](https://en.wikipedia.org/wiki/Mean_absolute_error)
- [Root Mean Squared Error](https://en.wikipedia.org/wiki/Root-mean-square_deviation)
- [Residual Sum of Squares](https://en.wikipedia.org/wiki/Residual_sum_of_squares)
- [Precision, Recall, Accuracy](https://en.wikipedia.org/wiki/Confusion_matrix)
- [Scikit-Learn](https://scikit-learn.org/stable/index.html)

#### Regression Cost Functions

- Use `y_test_r` as your true labels
- Use `y_pred_r` as your predicted labels

![](https://vedexcel.com/wp-content/uploads/2020/12/MSE_Python.gif)

In [ ]:
# Create a Mean Squared Error Function
def mse(y_true, y_pred):
  mse = sum(np.square(y_true - y_pred))/ len(y_true)
  return mse

mse(y_test_r, y_pred_r)

304.7379130576678

In [ ]:
# Your Mean Squared Error function should equal this value
mean_squared_error(y_test_r, y_pred_r)

304.73791305766775

![](https://miro.medium.com/max/2288/1*fY-Wt0n9VhTO61ESgOAMjQ.png)

In [ ]:
# Create a Mean Absolute Error Function
def mae(y_true, y_pred):
    mae = sum(np.absolute(y_true - y_pred))/ len(y_true)
    return mae

mae(y_test_r, y_pred_r)

15.41274324015282

In [ ]:
# Your Mean Absolute Error function should equal this value
mean_absolute_error(y_test_r, y_pred_r)

15.412743240152821

![](https://i.stack.imgur.com/RIq96.png)

In [ ]:
# Create a Root Mean Squared Error Function
def rmse(y_true, y_pred):
    return  np.sqrt(sum(np.square(y_true - y_pred)) / len(y_true))

rmse(y_test_r, y_pred_r)

647.5543043365523

In [ ]:
# Your Root Mean Squared Error function should equal this value
mean_squared_error(y_test_r, y_pred_r, squared=False)

647.5543043365523

![](https://miro.medium.com/max/1540/1*gc1jko6kNBj_R7QSSSn38w.png)

In [ ]:
# Create a Sum of Squared Error Function
def rss(y_true, y_pred):
    return sum(np.square(y_true - y_pred))

rss(y_test_r, y_pred_r)

25578921.200952567

#### Classification Cost Functions

- Use `y_test_c` as your true labels
- Use `y_pred_c` as your predicted labels

In [ ]:
# Replace None with the correct value value
true_positive = np.zeros(len(y_test_c))
true_negative = np.zeros(len(y_test_c))
false_positive = np.zeros(len(y_test_c))
false_negative = np.zeros(len(y_test_c))

# Here is some starter code but you can solve this problem any way you want
# Write a loop to identify true positives, false negatives, false positives, and true negatives
for x in range(len(y_test_c)):
    if y_test_c.iloc[x] == y_pred_c[x]:
        if y_pred_c[x] == 1:
            true_positive[x] = 1   # add 1 to the true_positive, true_negative, false_positive or false_negative count (do this for each pass, each of the 4 should be represented once)
        if y_pred_c[x] == 0:
            true_negative[x] = 1
    if y_test_c.iloc[x] != y_pred_c[x]:
        if y_pred_c[x] == 1:
            false_positive[x] = 1
        if y_pred_c[x] == 0:
            false_negative[x] = 1

# Uncomment below when your loop works to see totals of each
# print(f"True Positives: {true_positive}\nTrue Negatives: {true_negative}\nFalse Positives: {false_positive}\nFalse Negatives: {false_negative}")

![](https://miro.medium.com/max/888/1*7J08ekAwupLBegeUI8muHA.png)

In [ ]:
# Create A Function to Calculate Precision
def precision(TP, FP):
    return (sum(TP) / sum(TP + FP))

precision(true_positive, false_positive)

0.5789473684210527

In [ ]:
# Your precision function should equal this value
precision_score(y_test_c, y_pred_c)

0.5789473684210527

In [ ]:
# Create A Function to Calculate Recall
def recall(TP, FN):
    return (sum(TP) / sum(TP + FN))

recall(true_positive, false_negative)

0.9166666666666666

In [ ]:
# Your recall function should equal this value
recall_score(y_test_c, y_pred_c)

0.9166666666666666

In [ ]:
# Create a Function to Calculate Accuracy
def accuracy(TP, FP, TN, FN):
    return (sum(TP + TN) / sum(TP + TN + FP + FN))

accuracy(true_positive, false_positive, true_negative, false_negative)

0.6086956521739131

In [ ]:
# Your accuracy score function should equal this value
accuracy_score(y_test_c, y_pred_c)

0.6086956521739131

## Part - 2

### Predict RAIN

Determine the **Precision**, **Recall**, and **Accuracy** from yesterday's model and compare your results with the Scikit-Learn Functions.

In [ ]:
# read data from the driver csv file
URL = 'https://drive.google.com/file/d/16ZSKEHFlF0QVnrdUu3Zb2yJg1t95awkn/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]
df = pd.read_csv(path)
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [ ]:
def RAIN_INSERTION(cols):
    """
    Impute False where NaN values are present
    """
    
    RAIN=cols[0]
    if pd.isnull(RAIN):
        return False
    else:
        return RAIN
    

def PRCP_INSERTION(col):
    """
    Insert the Mean of PRCP where NaN values are present
    """
    PRCP=col[0]
    if pd.isnull(PRCP):
        return df['PRCP'].mean()
    else:
        return PRCP

In [ ]:
# Apply the Functions
df["RAIN"] = df[["RAIN"]].apply(RAIN_INSERTION, axis=1) # axis =1 means apply to columns 
df['PRCP']=df[['PRCP']].apply(PRCP_INSERTION,axis=1)

In [ ]:
def heuristic(df):
    """
    Simple heuristic:
    
    If it rained the past two days then predict rain else predict no rain
    
    Frist two rows are predicted false be default
    """
    
    preds = []
    
    for x in range(len(df)):
        # If first two rows then predict false
        if x<2:
            preds.append(False)
        else:
            # If either of last two days == True then predict True
            condation_1 = (df.iloc[x-1]["RAIN"] == True) | (df.iloc[x-2]["RAIN"] == True) 
            condation_2 = (df.iloc[x-1]["PRCP"] > 0.001) | (df.iloc[x-2]["PRCP"]  > 0.001) 
            condation_3 = ((df.iloc[x-1]["TMAX"] > 30) & (df.iloc[x-1]["TMAX"] <= 70 )) | ((df.iloc[x-2]["TMAX"] > 30) & (df.iloc[x-2]["TMAX"] <= 70 ))
            condation_4 = ((df.iloc[x-1]["TMIN"] > 25) & (df.iloc[x-1]["TMIN"] < 50 )) | ((df.iloc[x-2]["TMIN"] > 25) & (df.iloc[x-2]["TMIN"] < 50 ))

            if condation_1  & condation_2 & condation_3 & condation_4:
                preds.append(True)
            else:
                preds.append(False)
    return preds

In [ ]:
df["preds"] = heuristic(df)

In [ ]:
# Determine Accuracy

# Create function to to find values

def calc_confuse(df):
    
    "Calculate all possible results of a confusion matrix"

    # Hold all possible values and set to zero
    FP = np.zeros(len(df))
    TP = np.zeros(len(df))
    FN = np.zeros(len(df))
    TN = np.zeros(len(df))
    
    for x in range(len(df)):
        
        # True Positive
        if (df["RAIN"].iloc[x] == True) & (df["preds"].iloc[x] == True):
            TP[x] = 1
        # True Negative
        elif (df["RAIN"].iloc[x] == False) & (df["preds"].iloc[x] == False):
            TN[x] = 1
        # False Negative
        elif (df["RAIN"].iloc[x] == True) & (df["preds"].iloc[x] == False):
            FN[x] = 1
        # False Positive
        else:
            FP[x] = 1
    
    return FP, TP, FN, TN

In [ ]:
# Extract results and create columns for each
w,x,y,z = calc_confuse(df)

df["FP"] = w
df["TP"] = x
df["FN"] = y
df["TN"] = z

# Look at 10 random rows to determin accuracy
df.sample(10)

             DATE  PRCP  TMAX  TMIN   RAIN  preds   FP   TP   FN   TN
23441  2012-03-06  0.02    44    32   True   True  0.0  1.0  0.0  0.0
18510  1998-09-05  0.00    81    52  False  False  0.0  0.0  0.0  1.0
7379   1968-03-15  0.79    49    43   True   True  0.0  1.0  0.0  0.0
8557   1971-06-06  0.11    65    48   True   True  0.0  1.0  0.0  0.0
3939   1958-10-14  0.00    63    49  False  False  0.0  0.0  0.0  1.0
10951  1977-12-25  0.00    42    34  False  False  0.0  0.0  0.0  1.0
14178  1986-10-26  2.13    61    55   True  False  0.0  0.0  1.0  0.0
262    1948-09-19  0.00    70    47  False  False  0.0  0.0  0.0  1.0
20163  2003-03-16  0.14    54    39   True   True  0.0  1.0  0.0  0.0
12073  1981-01-20  0.13    64    45   True   True  0.0  1.0  0.0  0.0

In [ ]:
# Heuristic Model
print("Heuristic model for predict RAIN")
print(f"Precision: {precision(df['TP'], df['FP'])}")
print(f"recall: {recall(df['TP'], df['FN'])}")
print(f"accuracy: {accuracy(df['TP'], df['FP'], df['TN'], df['FN'])}")


print("---------------------------------")
print("Heuristic model for predict RAIN Using sklearn")
print(f"Precision: {precision_score(df['RAIN'], df['preds'])}")
print(f"recall: {recall_score(df['RAIN'], df['preds'])}")
print(f"accuracy: {accuracy_score(df['RAIN'], df['preds'])}")

Heuristic model for predict RAIN
Precision: 0.6161667086799428
recall: 0.6727522935779816
accuracy: 0.6816171578411804
---------------------------------
Heuristic model for predict RAIN Using sklearn
Precision: 0.6161667086799428
recall: 0.6727522935779816
accuracy: 0.6816171578411804

### Predict PRCP

Create a heuristic model to predict the PRCP column in the Seattle Weather data and calculate the **Mean Squared Error** from your predictions. Did you do better than predicting the mean value for the PRCP column?

In [ ]:
# Crate random regression prediction to test regression cost functions

print(f"Regression Mean Baseline: {df['PRCP'].mean()}")

# Createing a random number generator
rng = np.random.default_rng(42)

# Assign random predictions to dataframe for demo purposes
df["preds_r"] = rng.uniform(0.01, 0.2, len(df))

df["preds_norm"] = np.random.normal(
    loc = 0.106222, # mean
    scale = 0.239031, # standard deviation
    size = len(df)
)

# Predict mean baseline
df["baseline"] = df["PRCP"].mean()

df.head()

Regression Mean Baseline: 0.10622162204477957

         DATE  PRCP  TMAX  TMIN  RAIN  ...   FN   TN   preds_r  preds_norm  baseline
0  1948-01-01  0.47    51    42  True  ...  1.0  0.0  0.157052    0.109514  0.106222
1  1948-01-02  0.59    45    36  True  ...  1.0  0.0  0.093387   -0.235939  0.106222
2  1948-01-03  0.42    45    35  True  ...  0.0  0.0  0.173134    0.174444  0.106222
3  1948-01-04  0.31    45    34  True  ...  0.0  0.0  0.142500    0.319832  0.106222
4  1948-01-05  0.17    45    32  True  ...  0.0  0.0  0.027894    0.040347  0.106222

[5 rows x 13 columns]

In [ ]:

print("Heuristic model for predict PRCP")
print(f"Mean Squared Error for uniform: {mse(df['preds_r'],df['PRCP'])}")
print(f"Mean Squared Error for normal: {mse(df['preds_norm'],df['PRCP'])}")
print(f"Mean Squared Error for baseline: {mse(df['baseline'],df['PRCP'])}")


print("---------------------------------")
print("Heuristic model for predict PRCP Using sklearn")
print(f"Mean Squared Error for uniform: {mean_squared_error(df['preds_r'],df['PRCP'])}")
print(f"Mean Squared Error for normal: {mean_squared_error(df['preds_norm'],df['PRCP'])}")
print(f"Mean Squared Error for baseline: {mean_squared_error(df['baseline'],df['PRCP'])}")

Heuristic model for predict PRCP
Mean Squared Error for uniform: 0.06035325053961652
Mean Squared Error for normal: 0.11217269500121949
Mean Squared Error for baseline: 0.057127093780136584
---------------------------------
Heuristic model for predict PRCP Using sklearn
Mean Squared Error for uniform: 0.06035325053961639
Mean Squared Error for normal: 0.11217269500121947
Mean Squared Error for baseline: 0.05712709378012533